certifi==2020.12.5
chardet==4.0.0
docutils==0.16
ffpyplayer==4.3.2
gitdb==4.0.7
GitPython==3.1.14
idna==2.10
jedi==0.18.0
Kivy==2.0.0
Kivy-examples==2.0.0
Kivy-Garden==0.1.4
parso==0.8.2
Pillow==8.1.2
Pygments==2.8.1
requests==2.25.1
six==1.15.0
smmap==4.0.0
urllib3==1.26.4
watchdog==2.0.2
